<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("common/header") -%>

    <title>Photo Labrary</title>
</head>


<body>

    <!-- navber start -->
    <nav class="navbar">
        <div class="logo">
            <a href="/"><img src="image/index.png" alt=""></a>
        </div>
        <div class="serch-bar-cantainer">
            <div class="serch-icon">
                <input id="serch-input" type="text" value="" placeholder="Search for Photos">
                <a href=""><i class="fas fa-search"></i></a>
            </div>
        </div>
        <div class="menu-bar">
            <a class="explpre" href="/explore">Explore</a>
            <a href="/login">Login</a>
            <a class="sub-photo" href="/uploadimg">Submit a photo</a>
            <a class="s-photo" href="/uploadimg">Submit</a>
        </div>


    </nav>

    <!-- end  -->

    <div class="head-container">

        <div class="show-title">
            <h1>About</h1>
        </div>




        

    </div>

    





</body>

</html>