<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("common/header") -%>
        <title>explore</title>
    <style>
        .exp-head {
            font-size: 25px;

            margin: 50px 0 0 30px;


        }

        h1 {
            font-weight: 700px;
        }

        .exp-p {
            width: 40%;
            margin: 30px;
        }
    </style>
</head>

<body>
   <!-- navber start -->
   <%- include("common/navber") -%>

<!-- end  -->

    <div>
        <p> Explore</p>
    </div>

    <div class="exp-head">
        <h1> Explore Unsplash photos</h1>

    </div>
    <div class="exp-p">
        <p> Unsplash has over a million free high-resolution photos.
            Explore these popular photo categories on Unsplash.
            All photos here are free to download and use under the Unsplash License.</p>
    </div>



    <h1 style="color: red;">This page is working so please wait...</h1>

    <!-- <form action="/search/process" method="post">
        <input type="text" class="form-control web-search-box" placeholder="search" name="keyword" value=''></div>
        <div id="search" class="search col-sm-1"><img src="../../page_imgs/fixed_img/icon_search.png"></div>
        <input type="submit" value="send">
        </form> -->



</body>

</html>