<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("common/header") -%>

    <title>Photo Labrary</title>
</head>


<body>

    <!-- navber start -->
    <%- include("common/navber") -%>
    <!-- end  -->

    <div class="head-container">

        <div class="show-title">
            <h1></h1>
        </div>

        <!-- show img start  -->
        <div class="head-image ">
           
                <div class="imgg">
                    <a href=""><img src="data:image/"></a>
                </div>

                <div>
                    <h5>
                        <%=image.name %>
                    </h5>

                </div>
             
        </div>

        <!-- end -->

    </div>



</body>

</html>