<footer class="footer">


    <div class="icon-s">

      <a href="https://www.facebook.com/login/" target="_blank"><i class="fab fa-facebook icon"></i></a>
      <a href="https://twitter.com/i/flow/login" target="_blank"><i class="fab fa-twitter-square icon"></i></a>
      <a href="https://www.linkedin.com/signup" target="_blank"><i class="fab fa-linkedin icon"></i></a>
      <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram icon" ></i></a>
      <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube icon"></i></a>
    </div>



    <div class="menu-footer">
      <ul>

      <li><a href="">Company</a></li>
      <li><a href="/about">About </a></li>
      <li><a href="">Career</a></li>
      <li><a href="">Blog</a></li>
      <li><a href="">Contact Us</a></li>

      </ul>  
    </div>

  </footer>